<%-include("partials/header")%>

<h1>Home</h1>

<p><%=startingContent%></p>

<%posts.forEach(function(posts) {%>
  <h1><%=posts.titleBit%></h1>
  <p><%=posts.postBit.substring(0, 100) + "... "%> <a href="/posts/<%=posts.titleBit%>">Read more</a></p>
<%});%>

<%-include("partials/footer")%>
